<%- include("partials/header") -%>

<% items.forEach((item) =>{ %>
    <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p><%= item.name %></p>
            </div>
            <div class="card-action">
                <p>£<%= item.price %></p>
                <button class="waves-effect waves-dark btn" type="button" onclick="removeItemFromBasket('<%= item._id %>');">Remove from basket</button>
                
            </div>
          </div>
        </div>
      </div>
<% }) %>

        

<script>

    function removeItemFromBasket(id){
        $.post("", {"action": "delete", "id": id}, function(data, status, jqXHR){
            if(data === "item deleted"){
                window.location.reload()
            }
        })
    }
</script>
      <!--JavaScript at end of body for optimized loading-->
   
  <%- include("partials/footer") -%>